KPEnhancedEntryView/*.suo
KPEnhancedEntryView/*.user
KPEnhancedEntryView/.vs
KPEnhancedEntryView/bin
KPEnhancedEntryView/obj
KeePass-Source/*
KeePass/*
Releases/Build[!!-~]Outputs
Releases/v*
/Screenshots
ThirdPartyAssemblies/ObjectListViewDemo/*
