KPEnhancedEntryView/*.suo
KPEnhancedEntryView/*.user
KPEnhancedEntryView/bin
KPEnhancedEntryView/obj
KeePass-2.22-Source/*
KeePass-2.22/*
Releases/Build[!!-~]Outputs
Releases/v*
/Screenshots
ThirdPartyAssemblies/ObjectListViewDemo/*
